html {
    font-size: 62.5%;
}
body {
    padding: 20rem;
    font-family: 'Lato', sans-serif;
    background-color: #1F1F1F;
    color: #FFF;
    letter-spacing: .2rem;
    line-height: 3rem;
}
h1 {
    font-weight: 500;
    font-size: 5rem;
}
h2 {
    font-size: 2.5rem;
}
span {
    background: linear-gradient(to right bottom, #7ED56F, #28B485);
}
p {
    font-size: 2rem;
}
.header {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 50rem;
    grid-gap: 30rem;
}
/* Social Media Links */
a {
    margin-right: 1rem;
    color: #FFF;
    font-size: 2.5rem;
    text-decoration: none;
}
.github:hover {
    background: #8B61FF;
}
.linkedin:hover {
    background: #0077B5;
}
.twitter:hover {
    background: #55ACEE;
}
.email:hover {
    background: #20B2AA;
}
/* Skills Section */
.skills {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding-top: 10rem;
    grid-gap: 5rem;
}