html {
    font-size: 62.5%;
}
body {
    padding: 8rem 5rem;
    font-family: 'Lato', sans-serif;
    background-color: #1F1F1F;
    color: #F1F1F1;
    letter-spacing: .2rem;
    line-height: 3rem;
    height: 100%;
}
/* Header */
.header {
    display: grid;
    grid-template-columns: repeat(2, minmax(40rem, 1fr));
    grid-row: auto;
    grid-gap: 1rem;
}
.heading--primary {
    grid-row: 1;
    font-size: 2.2rem;
}
.header-text {
    grid-row: 2;
    font-size: 1.6rem;
}
.header-image {
    text-align: center;
    grid-column: 2;
    grid-row: 1 / 4;
}
.social-media {
    grid-row: 4;
    grid-column: 2;
    text-align: center;
}
img {
    height: 40rem;
    box-shadow: .8rem .8rem 0 0 #DE6262;
}
a {
    margin-right: 1rem;
    color: #FFF;
    font-size: 1.7rem;
    text-decoration: none;
    text-transform: uppercase;
}
.github:hover {
    background: #8B61FF;
}
.linkedin:hover {
    background: #0077B5;
}
.twitter:hover {
    background: #55ACEE;
}
.email:hover {
    background: #20B2AA;
}
/* Skills */
.skills {
    padding-top: 2rem;
    display: grid;
    grid-template-columns: repeat(2, minmax(40rem, 1fr));
    grid-row: auto;
    grid-column-gap: 10rem;
    grid-row-gap: 5rem;
    text-align: left;
    font-size: 1.5rem;
}
h2 {
    border-bottom: .5rem solid #DE6262;
}

span {
    color: #DE6262;
}