* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}
body {
    font-family: 'Lato', sans-serif;
    background-image: linear-gradient(to right top, #548cf4, #00b0f3, #00c6c8, #71d297, #ced583);
    color: #1F1F1F;
    letter-spacing: .2rem;
    line-height: 3rem;
    height: 100%;
}
/* Header */
.header {
    padding-top: 5rem;
    text-align: center;
}

.header-image {
    height: 20rem;
    width: 20rem;
    border-radius: 10rem;
}

h1 {
    font-size: 4rem;
    color: #FFF;
    text-transform: uppercase;
}

h2 {
    font-size: 3rem;
}

p {
    font-size: 1.5rem;
    padding-top: 3rem;
}

a {
    text-decoration: none;
    color: #FFF;
}
/* Project Section */
.portfolio {
    display: grid;
    grid-template-columns: minmax(4rem, 1fr);
    grid-row-gap: 8rem;
    padding: 5rem 25rem;
}

.portfolio img {
    width: 100%;
}

.portfolio-box {
    background: #FFF;
    box-shadow: 0px 0px 8px 2px rgba(0,0,0,0.15);
}

.portfolio-content {
    padding: 1rem 3rem;
}

.portfolio-content ul li {
    border: 2px solid #62de8b;
    padding: 0 1rem;
    margin: 2rem 2rem 2rem 0;
    border-radius: 5px;
    list-style: none;
    display: inline-block;
    font-size: 1.3rem;
}

button {
    padding: 1rem;
    border: none;
    border-radius: 5px;
    background-color: #9b9af0;
    font-weight: 700;
    margin: 0 2rem 2rem 0;
    font-size: 1.3rem;
}

footer {
    text-align: center;
    color: #FFF;
}