// Color Variables
$color-btn: #9B9AF0;
$color-skills: #62DE8B;

// Media Queries
$bp-large: 68.75em; // 1100px
$bp-medium: 56.25em; // 900px
$bp-med-sm: 50.00em; // 800px
$bp-small: 37.5em; // 600px
$bp-xs: 31.25em; // 500px
$bp-xxs: 23.44em; // 375px


* {
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

body {
    // margin: 0 10rem;
    min-height: 100vh;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    line-height: 1.4;
    background-image: linear-gradient(to right top, #548cf4, #00b0f3, #00c6c8, #71d297, #ced583);
}

h2 {
    font-size: 3rem;

    // @media only screen and (max-width: $bp-med-sm) {
    //     font-size: 1.5rem;
    // }
}

p {
    font-size: 1.5rem;
    padding-top: 2rem;
}

a {
    text-decoration: none;
    color: #FFF;
}