* {
  margin: 0;
  padding: 0; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  min-height: 100vh;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  line-height: 1.4;
  background-image: linear-gradient(to right top, #548cf4, #00b0f3, #00c6c8, #71d297, #ced583);
  background-repeat: no-repeat;
  background-attachment: fixed; }

h2 {
  font-size: 3rem; }

p {
  font-size: 1.5rem;
  padding-top: 2rem; }

a {
  text-decoration: none;
  color: #FFF; }

.header {
  margin: 5rem 25rem;
  display: grid;
  grid-template-columns: 2fr 1fr;
  color: #FFF;
  min-width: 71rem; }
  @media only screen and (max-width: 62.5em) {
    .header {
      margin: 5rem 20rem; } }
  @media only screen and (max-width: 56.875em) {
    .header {
      margin: 5rem 15rem; } }
  @media only screen and (max-width: 50em) {
    .header {
      margin: 5rem 8rem; } }

.header-content {
  width: 45rem;
  justify-self: center; }
  .header-content h1 {
    font-size: 4rem;
    display: inline;
    box-shadow: 0px 5px 0px 0px #F3F570; }
  .header-content p {
    font-size: 1.8rem; }

.header-image {
  grid-column: 2;
  border-radius: 10rem;
  height: 17rem;
  width: 17rem; }

.project {
  display: grid;
  grid-template-columns: minmax(4rem, 1fr);
  grid-row-gap: 8rem;
  margin: 0 25rem; }
  @media only screen and (max-width: 62.5em) {
    .project {
      margin: 0 20rem; } }
  @media only screen and (max-width: 56.875em) {
    .project {
      margin: 0 15rem; } }
  @media only screen and (max-width: 50em) {
    .project {
      margin: 0 8rem; } }
  .project-box {
    background: #F1F1F1;
    box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.15);
    min-width: 65rem; }
    .project-box img {
      width: 100%; }
  .project-content {
    padding: 1rem 3rem; }
  .project-skills {
    font-size: 1.3rem; }
    .project-skills ul {
      list-style: none; }
    .project-skills li {
      display: inline-block;
      padding: .8rem;
      margin: 2rem 2rem 2rem 0;
      border-radius: 5px;
      border: 2px solid #62DE8B;
      background: #FFF; }

.btn {
  margin: 0 2rem 2rem 0;
  padding: 1rem;
  background: #424242;
  border: none;
  border-radius: 5px;
  font-weight: 700;
  font-size: 1.3rem;
  width: 10rem;
  box-shadow: inset 0 0 0 0 #62DE8B;
  cursor: pointer; }

.btn:hover {
  box-shadow: inset 400px 0 0 0 #62DE8B;
  transition: ease-out 1.5s;
  background: none; }

footer {
  text-align: center;
  color: #FFF; }
